openapi: 3.0.2
info:
  title: Couchbase Capella Management API
  version: v4.0
  description: |
    The Couchbase Capella Management API provides a set of OpenAPIs for creating and managing Capella instances.
    It enables users to perform operations such as creating new Capella instances, managing their configurations,
    and interacting with the Capella services. This API documentation specifies the endpoints, request/response
    formats, and authentication requirements for seamless integration with Couchbase Capella.
servers:
  - url: 'https://cloudapi.cloud.couchbase.com'
security:
  - token: []
paths:
  '/v4/organizations/{organizationId}/apikeys':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create APIKey
      description: |
        Creates a new APIKey under an organization.

        Organization Owners can create Organization and Project scoped APIKeys.

        Organization Members and Project Creators can create Project scoped APIKeys for which they are `Project Owner`.

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - apikeys
      operationId: postOrganizationAPIKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            examples:
              createOrganizationOwnerAPIKey:
                value:
                  name: Organization Owner APIKey
                  description: Creates an APIKey with a Organization Owner role.
                  expiry: 720
                  allowedCIDRs:
                    - 8.8.8.8/32
                  organizationRoles:
                    - organizationOwner
                  resources: []
              createProjectOwnerAPIKey:
                value:
                  name: Project Owner APIKey
                  description: Creates an APIKey with a Project Owner role.
                  expiry: 720
                  allowedCIDRs:
                    - 8.8.8.8/32
                  organizationRoles:
                    - organizationMember
                  resources:
                    - id: ffffffff-aaaa-1414-eeee-000000000000
                      roles:
                        - projectOwner
      responses:
        '201':
          description: Successfully created an APIKey under an organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List APIKeys
      description: |
        Lists all the APIKeys under an organization.

        Organization Owners can list all the APIKeys inside the Organization.

        Organization Members and Project Creators can list all the `Project` scoped APIKey for which they are `Project Owner`.

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - apikeys
      operationId: listOrganizationAPIKeys
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the apikeys under an organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAPIKeys'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/apikeys/{accessKey}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/AccessKey'
    get:
      summary: Get APIKey
      description: |
        Fetches the details of given APIKey under an organization.

        Organization Owners can get any APIKey inside the Organization.

        Organization Members and Project Creator can get any `Project` scoped APIKey for which they are `Project Owner`.

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - apikeys
      operationId: getOrganizationAPIKeyByAccessKey
      responses:
        '200':
          description: Successfully fetched the APIKey by its access key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAPIKey'
              examples:
                createOrganizationOwnerAPIKey:
                  value:
                    accessKey: IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL
                    name: Organization Owner APIKey
                    description: Creates an APIKey with an Organization Owner role.
                    expiry: 720
                    allowedCIDRs:
                      - 8.8.8.8/32
                    organizationRoles:
                      - organizationOwner
                    resources: []
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: '2021-09-01T12:34:56Z'
                      modifiedBy: ''
                      modifiedAt: '2021-09-01T12:34:56Z'
                      version: 1
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete APIKey
      description: |
        Deletes the given APIKey under an organization.

        Organization Owners can delete any APIKey inside the Organization.

        Organization Members and Project Creator can delete any `Project` scoped APIKey for which they are `Project Owner`.

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - apikeys
      operationId: deleteOrganizationAPIKey
      responses:
        '204':
          description: Successfully deleted the APIKey by it's accesskey.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create Project
      description: |
        Creates a new project under the organization.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Creator

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - projects
      operationId: postProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Successfully created a project under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Project
      description: |
        Lists all the projects under the organization.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the projects under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
    get:
      summary: Get Project
      description: |
        Fetches the details of the given project.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - projects
      operationId: getProjectByID
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the project based on the projectId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Project
      description: |
        Update project name and or project description.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - projects
      operationId: putProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Successfully updated the project metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Project
      description: |
        Deletes an existing project.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - projects
      operationId: deleteProjectByID
      responses:
        '204':
          description: Successfully deleted the project by its projectId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
    post:
      summary: Create Cluster
      description: |
        Creates a new Couchbase Capella provisioned cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - clusters
      operationId: postCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
            examples:
              PostClusterAwsMultipleServiceGroups:
                value:
                  name: Test-Cluster-1
                  description: My first test aws cluster for multiple services.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                          autoExpansion: 'on'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                          autoExpansion: 'on'
                      numOfNodes: 2
                      services:
                        - type: analytics
                  availability:
                    type: multi
                  trial: false
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAwsSingleAvailabilityBasicPlan:
                value:
                  name: Test-Cluster-2
                  description: My test aws cluster for single availablity and basic plan.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: io2
                          iops: 3000
                          autoExpansion: 'on'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                  availability:
                    type: single
                  trial: false
                  support:
                    plan: basic
                    timezone: PT
              PostClusterAwsWithoutServerVersion:
                value:
                  name: Test-Cluster-6
                  description: My test aws cluster without couchbase server version.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                          autoExpansion: 'on'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                          autoExpansion: 'on'
                      numOfNodes: 2
                      services:
                        - type: analytics
                  availability:
                    type: multi
                  trial: false
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAwsWithServerVersionAndMaxNodes:
                value:
                  name: Test-Cluster-7
                  description: My test aws cluster couchbase server version 7.1.0.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.1'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                          autoExpansion: 'on'
                      numOfNodes: 27
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                  availability:
                    type: multi
                  trial: false
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAwsWithServerWithMaxNodes:
                value:
                  name: Test-Cluster-8
                  description: My test aws cluster with max nodes.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                          autoExpansion: 'on'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                          autoExpansion: 'on'
                      numOfNodes: 24
                      services:
                        - type: analytics
                  availability:
                    type: single
                  trial: false
                  support:
                    plan: basic
                    timezone: PT
              PostClusterAzurePremiumDisk:
                value:
                  name: Test-Cluster-3
                  description: My first test azure cluster.
                  cloudProvider:
                    type: azure
                    region: eastus
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 64
                          type: P6
                          iops: 240
                          autoExpansion: 'off'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 64
                          type: P10
                          iops: 240
                          autoExpansion: 'off'
                      numOfNodes: 4
                      services:
                        - type: analytics
                  availability:
                    type: single
                  trial: false
                  support:
                    plan: basic
                    timezone: ET
              PostClusterAzureUltraDisk:
                value:
                  name: Test-Cluster-4
                  description: My second test azure cluster with ultra.
                  cloudProvider:
                    type: azure
                    region: eastus
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 1024
                          type: Ultra
                          iops: 2000
                          autoExpansion: 'off'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                        - type: analytics
                  availability:
                    type: multi
                  trial: false
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterGcp:
                value:
                  name: Test-Cluster-5
                  description: My first test gcp cluster.
                  cloudProvider:
                    type: gcp
                    region: us-east1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: 7.1.3
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 64
                          type: pd-ssd
                          autoExpansion: 'on'
                      numOfNodes: 3
                      services:
                        - type: data
                        - type: query
                        - type: index
                        - type: search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: pd-ssd
                          autoExpansion: 'on'
                      numOfNodes: 5
                      services:
                        - type: data
                  availability:
                    type: single
                  trial: false
                  support:
                    plan: basic
                    timezone: ET
      responses:
        '201':
          description: Successfully created a cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Clusters
      description: |
        Lists all the clusters under the organization.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        Returned set of clusters is reduced to what the caller has access to view.
        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - clusters
      operationId: listClusters
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the clusters under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClustersResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: Get Cluster
      description: |
        Fetches the details of given cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - clusters
      operationId: getCluster
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the cluster based on the clusterId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Cluster
      description: |
        Updates an existing cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - clusters
      operationId: putCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterRequest'
      responses:
        '200':
          description: Successfully updated the cluster metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Cluster
      description: |
        Deletes an existing cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - clusters
      operationId: deleteCluster
      responses:
        '202':
          description: Successfully deleted the cluster by its clusterId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/users':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create User
      description: |
        Invites a new user under the organization.

        After making a REST API request, an invitation email is triggered and sent to the user. Upon receiving the invitation email, the user is required to click on a provided URL, which will redirect them to a page with a user interface (UI) where they can set their username and password.

        The modification of any personal information related to a user can only be performed by the user through the UI. Similarly, the user can solely conduct password updates through the UI.

        The "caller" possessing Organization Owner access rights retains the exclusive user creation capability. They hold the authority to assign roles at the organisation and project levels.

        At present, our support is limited to the resourceType of "project" exclusively.

        In order to access this endpoint, the provided API key must have the role referenced below :
        - Organization Owner

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).
      tags:
        - users
      operationId: postUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            examples:
              CreateOrganizationMember:
                value:
                  name: Elle
                  email: elle@couchbase.com
                  organizationRoles:
                    - organizationMember
                  resources:
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      type: project
                      roles:
                        - projectViewer
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      type: project
                      roles:
                        - projectDataReaderWriter
                description: 'At present, our support is limited to the resourceType of "project" exclusively. Furthermore, the role designation is solely related to roles at the project level.'
              CreateOrganizationOwner:
                value:
                  name: Lee
                  email: lee@couchbase.com
                  organizationRoles:
                    - organizationOwner
                description: We don't need to explicitly add the resources field if the user is an organizationOwner
      responses:
        '201':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully sent invite to the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Users
      description: |
        Lists all the users in the organization and filter on the basis of projectId.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below :
        - Organization Owner
        - Organization Member
        - Project Creator

        The results are always limited by the role and scope of the caller’s privileges.

        When retrieving a list of users through a GET request, if a user holds the organization owner role, the response will exclude project-level permissions for those users. This is because organization owners have full access to all resources within the organization, making project-level permissions irrelevant for them.

        For SortBy query params, we only support id, name and email.

        To learn more about the roles, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html) and [here](https://docs.couchbase.com/cloud/projects/project-roles.html).
      tags:
        - users
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
        - $ref: '#/components/parameters/ProjectIdQuery'
      responses:
        '200':
          description: Successfully listed all the user in the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
              examples:
                ApiKeyIsOrgOwner:
                  value:
                    data:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        name: Lee
                        email: lee@couchbase.com
                        status: verified
                        inactive: false
                        organizationId: ffffffff-aaaa-1414-eeee-000000000000
                        organizationRoles:
                          - organizationMember
                        lastLogin: '2023-07-17T07:05:39.116Z'
                        region: North America
                        timeZone: '(UTC +5:30) India Standard Time'
                        enableNotifications: false
                        expiresAt: 2023-07-17T07:05:39.116Z
                        resources:
                          - id: f98e6c87-41e3-4faa-9df4-906e8d4f1aaf
                            type: project
                            roles:
                              - projectViewer
                          - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                            type: project
                            roles:
                              - projectDataReaderWriter
                          - id: 28b67422-63d5-46b1-9234-8ad4a1d2f7be
                            type: project
                            roles:
                              - projectDataReaderWriter
                          - id: e3942eaa-0f52-43da-963d-87a5b6cb3805
                            type: project
                            roles:
                              - projectDataReaderWriter
                        audit:
                          createdBy: ffffffff-aaaa-1414-eeee-000000000000
                          createdAt: 2021-09-01T12:34:56.000Z
                          modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                          modifiedAt: 2021-09-01T12:34:56.000Z
                          version: 1
                    cursor:
                      pages:
                        page: 2
                        next: 3
                        previous: 1
                        last: 10
                        perPage: 10
                        totalItems: 10
                      hrefs:
                        first: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        last: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        previous: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        next: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                  description: 'In the event that the API key holds "organizationOwner" access, information related to all projects within the organization will be returned.'
                ApiKeyIsProjectOwner:
                  value:
                    data:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        name: Elle
                        email: elle@couchbase.com
                        status: verified
                        inactive: false
                        organizationId: ffffffff-aaaa-1414-eeee-000000000000
                        organizationRoles:
                          - organizationMember
                        lastLogin: '2023-07-17T07:05:39.116Z'
                        region: North America
                        timeZone: '(UTC +5:30) India Standard Time'
                        enableNotifications: false
                        expiresAt: 2023-07-17T07:05:39.116Z
                        resources:
                          - id: f98e6c87-41e3-4faa-9df4-906e8d4f1aaf
                            type: project
                            roles:
                              - projectViewer
                          - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                            type: project
                            roles:
                              - projectDataReaderWriter
                        audit:
                          createdBy: ffffffff-aaaa-1414-eeee-000000000000
                          createdAt: 2021-09-01T12:34:56.000Z
                          modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                          modifiedAt: 2021-09-01T12:34:56.000Z
                          version: 1
                    cursor:
                      pages:
                        page: 2
                        next: 3
                        previous: 1
                        last: 10
                        perPage: 10
                        totalItems: 10
                      hrefs:
                        first: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        last: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        previous: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        next: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                  description: 'Assuming an organization with four projects labeled A, B, C, and D, if the API key holds an organizational-level role of "organizationMember" and read access solely to projects C and D, then project-specific information exclusively pertaining to C and D will be returned, regardless of whether they conduct a search based on the projectId.'
                ReturnedUserIsOrganizationOwner:
                  value:
                    data:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        name: Lee
                        email: lee@couchbase.com
                        status: verified
                        inactive: false
                        organizationId: ffffffff-aaaa-1414-eeee-000000000000
                        organizationRoles:
                          - organizationOwner
                        lastLogin: '2023-07-17T07:05:39.116Z'
                        region: North America
                        timeZone: '(UTC +5:30) India Standard Time'
                        enableNotifications: false
                        expiresAt: 2023-07-17T07:05:39.116Z
                        audit:
                          createdBy: ffffffff-aaaa-1414-eeee-000000000000
                          createdAt: 2021-09-01T12:34:56.000Z
                          modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                          modifiedAt: 2021-09-01T12:34:56.000Z
                          version: 1
                    cursor:
                      pages:
                        page: 2
                        next: 3
                        previous: 1
                        last: 10
                        perPage: 10
                        totalItems: 10
                      hrefs:
                        first: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        last: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        previous: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                        next: 'https://cloud.couchbase.com/v4/users?page=1&perPage=10'
                  description: 'If the user returned possesses "organizationOwner" access, the resources field will not be returned due to the user''s unrestricted access to all resources within the organization.'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/users/{userId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CPUserId'
    get:
      summary: Get User
      description: |
        Fetches the details of given user.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below :
        - Organization Owner
        - Organization Member
        - Project Creator

        The results are always limited by the role and scope of the caller’s privileges.

        When performing a GET request for a user with an organization owner role, the response will exclude project-level permissions for that user. This is because organization owners have access to all resources at the organization level, rendering project-level permissions unnecessary for them

        To learn more about the roles, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html) and [here](https://docs.couchbase.com/cloud/projects/project-roles.html).
      tags:
        - users
      operationId: getUser
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the user based on the userId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update User
      description: |
        Updates organizationRole and resources of the user.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below :
        - Organization Owner
        - Project Owner

        An "Organization Owner" API key can be utilized to update organizational-level roles and project-level roles for all projects within the organization.

        The "Project Owner" API key allows for updating project-level roles, solely within the projects where the API key holds the "Project Owner" role.

        The modification of any personal information related to a user, like password updates, can only be performed by the respective user themselves through the user interface (UI).

        The results are always limited by the role and scope of the caller’s privileges.
        To learn more about the roles, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html) and [here](https://docs.couchbase.com/cloud/projects/project-roles.html).
      tags:
        - users
      operationId: patchUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
            examples:
              addOrganizationRole:
                value:
                  - op: add
                    path: /organizationRoles
                    value:
                      - projectCreator
              removeOrganizationRole:
                value:
                  - op: remove
                    path: /organizationRoles
                    value:
                      - projectCreator
              addResource:
                value:
                  - op: add
                    path: '/resources/{resourceId}'
                    value:
                      id: ffffffff-aaaa-1414-eeee-111111111111
                      type: project
                      roles:
                        - projectDataReaderWriter
              removeResourceRole:
                value:
                  - op: remove
                    path: '/resources/{resourceId}/roles'
                    value:
                      - projectViewer
              addResourceRole:
                value:
                  - op: add
                    path: '/resources/{resourceId}/roles'
                    value:
                      - projectManager
              removeResource:
                value:
                  - op: remove
                    path: '/resources/{resourceId}'
              performMultipleOperations:
                value:
                  - op: add
                    path: /organizationRoles
                    value:
                      - projectCreator
                  - op: remove
                    path: '/resources/{resourceId}'
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully updated the user metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
              examples:
                addOrganizationRole:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Elle
                    email: elle@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                      - projectCreator
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    resources:
                      - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                        type: project
                        roles:
                          - projectViewer
                      - id: 28b67422-63d5-46b1-9234-8ad4a1d2f7be
                        type: project
                        roles:
                          - projectDataReaderWriter
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                removeOrganizationRole:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    resources:
                      - id: 28b67422-63d5-46b1-9234-8ad4a1d2f7be
                        type: project
                        roles:
                          - projectViewer
                      - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                        type: project
                        roles:
                          - projectDataReaderWriter
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                addResource:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    resources:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        type: project
                        roles:
                          - projectViewer
                      - id: ffffffff-aaaa-1414-eeee-111111111111
                        type: project
                        roles:
                          - projectDataReaderWriter
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                removeResourceRole:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    resources:
                      - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                        type: project
                        roles:
                          - projectDataReaderWriter
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                addResourceRole:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    resources:
                      - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                        type: project
                        roles:
                          - projectViewer
                          - projectManager
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                removeResource:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
                performMultipleOperation:
                  value:
                    id: ffffffff-aaaa-1414-eeee-000000000000
                    name: Lee
                    email: lee@couchbase.com
                    status: verified
                    inactive: false
                    organizationId: ffffffff-aaaa-1414-eeee-000000000000
                    organizationRoles:
                      - organizationMember
                      - projectCreator
                    lastLogin: '2023-07-17T07:05:39.116Z'
                    region: North America
                    timeZone: '(UTC +5:30) India Standard Time'
                    enableNotifications: false
                    expiresAt: 2023-07-17T07:05:39.116Z
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: 2021-09-01T12:34:56.000Z
                      modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                      modifiedAt: 2021-09-01T12:34:56.000Z
                      version: 2
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete User
      description: |
        Removes user from the organization.

        In order to access this endpoint, the provided API key must have the role referenced below :
        - Organization Owner

        To learn more about the roles, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).
      tags:
        - users
      operationId: deleteUser
      responses:
        '204':
          description: Successfully removed the user from the organization.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/allowedcidrs':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Create AllowedCIDR
      description: |
        Adds a trusted CIDR to a cluster's list of allowed CIDRs.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).

        Note that updating this resource is not supported; you must delete and recreate allowed CIDRs instead. As a result, ETags are also not supported for this resource.
      tags:
        - allowedCIDRs(Cluster)
      operationId: postAllowedCidrs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAllowedCidrRequest'
      responses:
        '201':
          description: Successfully added an allowed CIDR for the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAllowedCidrResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List AllowedCIDRs
      description: |
        Lists all of the allowed CIDRs for a given cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - allowedCIDRs(Cluster)
      operationId: listAllowedCidrs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all allowed CIDRs for the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllowedCidrsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/allowedcidrs/{allowedCidrId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/AllowedCidrId'
    get:
      summary: Get AllowedCIDR
      description: |
        Fetches the details for the specified allowed CIDR.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - allowedCIDRs(Cluster)
      operationId: getAllowedCidrByID
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedCidr'
          description: Successfully fetched the allowed CIDR details.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete AllowedCIDR
      description: |
        Deletes the existing allowed CIDR.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - allowedCIDRs(Cluster)
      operationId: deleteAllowedCidrByID
      responses:
        '204':
          description: Successfully deleted the allowed CIDR by its ID.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/users':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: List Database Credentials
      description: |
        Lists all the database credential information under a cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - databaseCredentials
      operationId: listDatabaseCredentials
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the database credentials under the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatabaseCredentialsResponse'
              examples:
                GetAllDatabaseCredentials:
                  value:
                    cursor:
                      pages:
                        page: 2
                        next: 3
                        previous: 1
                        last: 10
                        perPage: 10
                        totalItems: 10
                      hrefs:
                        first: 'https://cloud.couchbase.com/v4/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000?page=2&perPage=10'
                        last: 'https://cloud.couchbase.com/v4/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000?page=10&perPage=10'
                        previous: 'https://cloud.couchbase.com/v4/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000?page=1&perPage=10'
                        next: 'https://cloud.couchbase.com/v4/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000/ffffffff-aaaa-1414-eeee-000000000000?page=3&perPage=10'
                    data:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        name: ReadInventory
                        audit:
                          createdBy: ffffffff-aaaa-1414-eeee-000000000000
                          createdAt: '2021-09-01T12:34:56Z'
                          modifiedBy: ffffffff-aaaa-1414-eeee-000000000000
                          modifiedAt: '2021-09-01T12:34:56Z'
                          version: 1
                        access:
                          - privileges:
                              - read
                              - write
                            resources:
                              buckets:
                                - name: travel-sample
                                  scopes:
                                    - name: inventory
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create Database Credentials
      description: |
        Creates a new database credential under a cluster.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - databaseCredentials
      operationId: postDatabaseCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseCredentialRequest'
            examples:
              ReadWriteOnSomeCollections:
                value:
                  name: ReadWriteOnSpecificCollections
                  access:
                    - privileges:
                        - read
                        - write
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
                                collections:
                                  - airport
                                  - airline
              ReadAndWriteOnAllCollectionsInABucketAndScope:
                value:
                  name: ReadWriteOnAllCollectionsInAScopeAndBucket
                  access:
                    - privileges:
                        - read
                        - write
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
              ReadAccessOnAllBuckets:
                value:
                  name: ReadAccessForAllBuckets
                  access:
                    - privileges:
                        - read
              SeparateAccessForDifferentScopes:
                value:
                  name: SeparateAccessForDifferentScopes
                  access:
                    - privileges:
                        - read
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
                    - privileges:
                        - write
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: sales
              WriteAccessForAllBuckets:
                value:
                  name: WriteAccessForAllBuckets
                  access:
                    - privileges:
                        - write
              MultipleLevelOfAccess:
                value:
                  name: MultipleLevelOfAccess
                  access:
                    - privileges:
                        - read
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
                                collections:
                                  - airport
                                  - airline
                    - privileges:
                        - write
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
                                collections:
                                  - sales
      responses:
        '201':
          description: Successfully created a database access record under a cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDatabaseCredentialResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/users/{userId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/UserId'
    get:
      summary: Get Database Credentials
      description: |
        Fetches the details of a given cluster's database credential information.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - databaseCredentials
      operationId: getDatabaseCredential
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the cluster's database credential information based on the userId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatabaseCredentialResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Database Credentials
      description: |
        Updates an existing database credential.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - databaseCredentials
      operationId: putDatabaseCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseCredentialRequest'
            examples:
              UpdateDatabaseCredentials:
                value:
                  access:
                    - privileges:
                        - read
                        - write
                      resources:
                        buckets:
                          - name: travel-sample
                            scopes:
                              - name: inventory
                                collections:
                                  - airport
                                  - airline
                                  - tickets
      responses:
        '201':
          description: Successfully updated the access in the clusters database credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatabaseCredentialResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Database Credentials
      description: |
        Deletes an existing cluster's database credential.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - databaseCredentials
      operationId: deleteDatabaseCredential
      responses:
        '204':
          description: Successfully deleted the cluster's database access record by its userId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Create Bucket
      description: |
        Creates a new bucket configuration under a cluster.

        To learn more about bucket configuration, see our docs [here](https://docs.couchbase.com/server/current/learn/buckets-memory-and-storage/buckets.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - buckets
      operationId: postBucket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBucketRequest'
      responses:
        '201':
          description: Successfully created a bucket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBucketResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Buckets
      description: |
        Lists all the buckets under the cluster.

        To learn more about bucket configuration, see our docs [here](https://docs.couchbase.com/server/current/learn/buckets-memory-and-storage/buckets.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - buckets
      operationId: getBuckets
      responses:
        '200':
          description: Successfully listed all the buckets under the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
    get:
      summary: Get Bucket
      description: |
        Fetches the configuration of the given bucket.

        To learn more about bucket configuration, see our docs [here](https://docs.couchbase.com/server/current/learn/buckets-memory-and-storage/buckets.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - buckets
      operationId: getBucketByID
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the bucket based on the bucketId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Bucket
      description: |
        Updates an existing bucket.

        To learn more about bucket configuration, see our docs [here](https://docs.couchbase.com/server/current/learn/buckets-memory-and-storage/buckets.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - buckets
      operationId: putBucket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBucketRequest'
      responses:
        '202':
          description: Successfully accepted updated bucket configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Bucket
      description: |
        Deletes an existing bucket.

        To learn more about bucket configuration, see our docs [here](https://docs.couchbase.com/server/current/learn/buckets-memory-and-storage/buckets.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - buckets
      operationId: deleteBucketByID
      responses:
        '204':
          description: Successfully deleted the bucket by its bucketId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/scopes':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
    post:
      summary: Create Scope
      description: |
        Creates a new scope in a bucket.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - scopes
      operationId: postScope
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScopeRequest'
      responses:
        '200':
          description: Successfully created a scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScopeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    get:
      summary: List Scopes
      description: |
        Lists all the scopes in the bucket.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - scopes
      operationId: getScopes
      responses:
        '200':
          description: Successfully listed all the scopes under the bucket.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetScopeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/scopes/{scopeName}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
      - $ref: '#/components/parameters/ScopeName'
    get:
      summary: Get Scope
      description: |
        Fetches the details of the given scope.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - scopes
      operationId: getScopeByName
      responses:
        '200':
          description: Successfully fetched the scope by it's name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScopeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      summary: Delete Scope
      description: |
        Deletes an existing scope.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - scopes
      operationId: deleteScopeByName
      responses:
        '200':
          description: Successfully deleted the scope by its name.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/scopes/{scopeName}/collections':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
      - $ref: '#/components/parameters/ScopeName'
    post:
      summary: Create Collection
      description: |
        Creates a new collection in a scope.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - collections
      operationId: postCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
      responses:
        '200':
          description: Successfully created a collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    get:
      summary: List Collections
      description: |
        Lists all the collections in a scope.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - collections
      operationId: getCollections
      responses:
        '200':
          description: Successfully listed all the collections in the bucket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/scopes/{scopeName}/collections/{collectionName}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
      - $ref: '#/components/parameters/ScopeName'
      - $ref: '#/components/parameters/CollectionName'
    get:
      summary: Get Collection
      description: |
        Fetches the details of the given collection.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - collections
      operationId: getCollectionByName
      responses:
        '200':
          description: Successfully fetched the collection by it's name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollectionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      summary: Delete Collection
      description: |
        Deletes an existing collection.

        To learn more about scopes and collections, see our docs [here](https://docs.couchbase.com/server/current/learn/data/scopes-and-collections.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - collections
      operationId: deleteCollectionByName
      responses:
        '200':
          description: Successfully deleted the collection by its name.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  '/v4/organizations/{organizationId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      summary: Get Organization
      description: |
        Fetches the details of an organization by ID.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Creator
        - Organization Member

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).
      tags:
        - organizations
      operationId: getOrganizationByID
      responses:
        '200':
          description: Successfully returned the organization details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v4/organizations:
    get:
      summary: List Organizations
      description: |
        Returns a list of all organizations the user has access to.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Creator
        - Organization Member

        To learn more, see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).
      tags:
        - organizations
      operationId: listOrganizations
      responses:
        '200':
          description: Successfully listed all the organizations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/certificates':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: Get Certificate
      description: |
        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
           - Organization Owner
           - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - certificates
      operationId: getCertificate
      responses:
        '200':
          description: Successfully returned a self-signed certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCertificateResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/buckets/{bucketId}/backups':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BucketId'
    post:
      summary: Create Backup
      description: |
        Creates a scheduled or on-demand backup for a bucket.

        To learn more about backup and restore, see our docs [here](https://docs.couchbase.com/cloud/clusters/backup-restore.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - backups & restore (WIP)
      operationId: postBackup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledBackupRequest'
            examples:
              CreateOnDemandBackup:
                value: {}
              CreateScheduledBackup:
                value:
                  type: weekly
                  weeklySchedule:
                    dayOfWeek: sunday
                    startAt: '10:00am'
                    incrementalEvery: 4
                    retentionTime: 90 days
                    costOptimizedRetention: false
      responses:
        '200':
          description: Successfully created a scheduled backup for a bucket.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Bucket Backups
      description: |
        Lists the backups for a bucket in a cluster.

        To learn more about backup and restore, see our docs [here](https://docs.couchbase.com/cloud/clusters/backup-restore.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - backups & restore (WIP)
      operationId: getBucketBackups
      responses:
        '200':
          description: Successfully listed all backups for a bucket under the cluster.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/backups':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: List Cluster Backups
      description: |
        Lists the latest backup for all buckets in a cluster.

        To learn more about backup and restore, see our docs [here](https://docs.couchbase.com/cloud/clusters/backup-restore.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - backups & restore (WIP)
      operationId: getClusterBackups
      responses:
        '200':
          description: Successfully listed the latest backups for all buckets under the cluster.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/backups/{backupId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/BackupId'
    get:
      summary: Get Backup
      description: |
        Fetches the details of an existing backup.

        To learn more about backup and restore, see our docs [here](https://docs.couchbase.com/cloud/clusters/backup-restore.html).

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more see our docs [here](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html)
      tags:
        - backups & restore (WIP)
      operationId: getBackupByID
      responses:
        '200':
          description: Successfully fetched the backup by its backupId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBackupResponse'
        '403':
[...]
