<div class="body container">
  <main class="article" data-ceiling="topbar">
    <article class="doc landing-page-doc">
      <h1 class="page"> SDK </h1>
      <div class="card-row">
        <div class="column">
          <div class="paragraph">
            <p>

             The Couchbase SDK allows applications to access a Couchbase cluster. It offers traditional synchronous APIs as well as scalable asynchronous APIs to maximize performance.

            </p>
          </div>
        </div>
        <div class="column">
          <figure class="media-left">
            <img src="_/img/landing-page-icon/sdk-icon.svg" alt="" />
          </figure>
        </div>
      </div>

         <div class="heading">
          <h2> Languages </h2>
        </div>

        <div class="card-row two-column-row ">
            <div class="column">
                <div class="sub-heading">
                  <h3>C SDK</h3>
                </div>
                <div class="content">
                  <p>
                    The Couchbase C SDK (libcouchbase) enables C and C++ programs to access a Couchbase Server cluster. The C SDK is also commonly used as a core dependency of SDKs written in other language to provide a common implementation and high performance.
                  </p>
                </div>
                <a href="#"> Start Using the Go SDK</a>
            </div>

            <div class="column">
                <div class="sub-heading">
                  <h3>.NET SDK</h3>
                </div>
                <div class="content">
                  <p>
The .NET SDK enables you to interact with a Couchbase Server cluster from the .NET Framework using any Common Language Runtime (CLR) language, including C#, F#, and VB.NET. It offers both a traditional synchronous API and an asynchronous API based on the Task-based Asynchronous Pattern (TAP).

                  </p>
                </div>
                <a href="#"> Start Using the .NET SDK</a>
            </div>

            <div class="column">
                <div class="sub-heading">
                  <h3>Go SDK</h3>
                </div>
                <div class="content">
                  <p>
                   The Couchbase Go SDK allows you to connect to a Couchbase Server cluster from Go. The Go SDK is a native Go library and uses the high-performance gocbcore to handle communicating to the cluster over Couchbase’s binary protocols.
                  </p>
                </div>
                <a href="#"> Start Using the Go SDK </a>
            </div>

            <div class="column">
                <div class="sub-heading">
                  <h3>Java SDK</h3>
                </div>
                <div class="content">
                  <p>
                   The Java SDK allows Java applications to access a Couchbase Server cluster. The Java SDK offers traditional synchronous APIs as well as scalable asynchronous APIs to maximize performance.
                  </p>
                </div>
                <a href="#"> Start Using the Java SDK</a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>Node.js SDK</h3>
                </div>
                <div class="content">
                  <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
                  </p>
                </div>
                <a href="#"> Start Using the Node.js SDK</a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>PHP SDK</h3>
                </div>
                <div class="content">
                  <p>
                   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                  </p>
                </div>
                <a href="#"> Start Using the PHP SDK</a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>Python SDK</h3>
                </div>
                <div class="content">
                  <p>
                   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                  </p>
                </div>
                <a href="#"> Start Using the Python SDK</a>
            </div>
              <div class="column">
                <div class="sub-heading">
                  <h3>Scala SDK</h3>
                </div>
                <div class="content">
                  <p>
                   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                  </p>
                </div>
                <a href="#"> Start Using the Scala SDK</a>
            </div>




          </div>





    </article>
  </main>
</div>
