
  <main class="article" data-ceiling="topbar">
    <article class="doc landing-page-doc">
      <h1 class="page"> Couchbase Tutorials </h1>
      <div class="card-row">
        <div class="column">
          <div class="paragraph">
            <p>

             The Couchbase SDK allows applications to access a Couchbase cluster. It offers traditional synchronous APIs as well as scalable asynchronous APIs to maximize performance.

            </p>
          </div>
        </div>
        <div class="column">
          <figure class="media-left">
            <img src="_/img/landing-page-icon/book-reader-icon.svg" alt="" />
          </figure>
        </div>
      </div>

         <div class="heading">
          <h2> Tutorials </h2>
        </div>

        <div class="card-row two-column-row ">
            <div class="column">
                <div class="sub-heading two-column-heading">
                  <h3 class="text-color-brand-blue-secondary">Lorem ipsum</h3>
                  <div class="filter-info">
                    <h5>
                      {{!-- <i class="fas fa-signal" ></i> --}}
                      <img src="_/img/landing-page-icon/advanced-icon.svg" alt="" />
                       Advanced</h5>
                    <span>Developer</span>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                  </p>
                </div>
                <div class="other-info-list">
                  <div class="box">
                    <ul>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>
                    </ul>
                  </div>
                  <div class="box">
                    <h5>
                      Components
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                    <div class="box">
                    <h5>
                      Languages
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="column">
                <div class="sub-heading two-column-heading">
                  <h3 class="text-color-brand-blue">Lorem ipsum</h3>
                  <div class="filter-info">
                    <h5>  <img src="_/img/landing-page-icon/Intermediate-icon.svg" alt="" /> Intermediate</h5>
                    <span>DevOps</span>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                  </p>
                </div>
                <div class="other-info-list">
                  <div class="box">
                    <ul>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>

                    </ul>
                  </div>
                  <div class="box">
                    <h5>
                      Components
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                    <div class="box">
                    <h5>
                      Languages
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>

                    </ul>
                  </div>
                </div>
            </div>
            <div class="column">
                <div class="sub-heading two-column-heading">
                  <h3 class="text-color-brand-blue">Lorem ipsum</h3>
                  <div class="filter-info">
                    <h5>  <img src="_/img/landing-page-icon/Intermediate-icon.svg" alt="" /> Intermediate</h5>
                    <span>Developer</span>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                  </p>
                </div>
                <div class="other-info-list">
                  <div class="box">
                    <ul>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>

                    </ul>
                  </div>
                  <div class="box">
                    <h5>
                      Components
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>

                    </ul>
                  </div>
                    <div class="box">
                    <h5>
                      Languages
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>

                    </ul>
                  </div>
                </div>
            </div>
            <div class="column">
                <div class="sub-heading two-column-heading">
                  <h3 class="text-color-brand-blue">Lorem ipsum</h3>
                  <div class="filter-info">
                    <h5>  <img src="_/img/landing-page-icon/beginner-icon.svg" alt="" /> Beginner</h5>
                    <span>Architect</span>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                  </p>
                </div>
                <div class="other-info-list">
                  <div class="box">
                    <ul>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>

                    </ul>
                  </div>
                  <div class="box">
                    <h5>
                      Components
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                    <div class="box">
                    <h5>
                      Languages
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="column">
              <div class="sub-heading two-column-heading">
                <h3 class="text-color-brand-blue">Lorem ipsum</h3>
                <div class="filter-info">
                  <h5> <img src="_/img/landing-page-icon/Intermediate-icon.svg" alt="" /> Intermediate</h5>
                  <span>Developer</span>
                </div>
              </div>
              <div class="content">
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                </p>
              </div>
              <div class="other-info-list">
                <div class="box">
                  <ul>
                    <li>
                      <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                      <a href="#">Lorem ipsum</a>
                    </li>

                  </ul>
                </div>
                <div class="box">
                  <h5>
                    Components
                  </h5>
                    <ul>
                      <li>
                          Lorem ipsum
                      </li>
                      <li>
                          Lorem ipsum
                      </li>
                      <li>
                          Lorem ipsum
                      </li>
                  </ul>
                </div>
                  <div class="box">
                  <h5>
                    Languages
                  </h5>
                    <ul>
                      <li>
                          Lorem ipsum
                      </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="column">
                <div class="sub-heading two-column-heading">
                  <h3 class="text-color-brand-blue">Lorem ipsum</h3>
                  <div class="filter-info">
                    <h5> <img src="_/img/landing-page-icon/advanced-icon.svg" alt="" /> Advanced </h5>
                    <span>Architect</span>
                  </div>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                  </p>
                </div>
                <div class="other-info-list">
                  <div class="box">
                    <ul>
                      <li>
                        <a href="#">Lorem ipsum</a>
                      </li>

                    </ul>
                  </div>
                  <div class="box">
                    <h5>
                      Components
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                    <div class="box">
                    <h5>
                      Languages
                    </h5>
                      <ul>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                        <li>
                            Lorem ipsum
                        </li>
                    </ul>
                  </div>
                </div>
            </div>

          </div>





    </article>
  </main>
