<div class="body container">
  <main class="article" data-ceiling="topbar">
    <article class="doc landing-page-doc">
      <h1 class="page"> Core Concepts </h1>
      <div class="card-row">
        <div class="column">
          <div class="paragraph">
            <p>
              Couchbase Server is an open source, distributed, NoSQL document-oriented engagement database.
               It exposes a fast key-value store with managed cache for sub-millisecond data operations,
               purpose-built indexers for fast queries and a powerful query engine for executing SQL-like queries.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="media-left">
            <img src="_/img/database-icon.svg" alt="" />
          </figure>
        </div>
      </div>

       <div class="sub-heading">
          <h2>Install and Deploy  </h2>
        </div>
      <div class="card-row three-column-row ">
        <div class="column">
          <div class="sub-heading">
            <h3>Before You Begin </h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> System Requirements</a></li>
            <li><a href="#"> Production Checklist</a></li>

          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h3>Installation </h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> Install on Linux </a></li>
            <li><a href="#"> Install on Windows </a></li>
              <li><a href="#"> Install on macOS</a></li>

          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h3>Deployment </h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> Sizing a Cluster</a></li>
            <li><a href="#"> Create a Cluster </a></li>

          </ul>
        </div>
      </div>

      <div class="sub-heading">
          <h2> Learn  </h2>
        </div>

      <div class="card-row three-column-row ">
        <div class="column">
          <div class="sub-heading">
            <h3>Data</h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> Introduction to Couchbase Server </a></li>
            <li><a href="#"> Buckets and Collections </a></li>
             <li><a href="#"> Data Model </a></li>

          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h3>Buckets and Storage </h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> Installation </a></li>
            <li><a href="#"> Create a Cluster </a></li>

          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h3>Security </h3>
          </div>
          <ul class="list-group">
            <li><a href="#"> Authentication </a></li>
            <li><a href="#"> Authorization </a></li>
             <li><a href="#"> Encryption </a></li>

          </ul>
        </div>
      </div>


         <div class="sub-heading">
          <h2> Lorem ipsum </h2>
        </div>

        <div class="card-row two-column-row ">
            <div class="column">
                <div class="sub-heading">
                  <h3>Lorem ipsum</h3>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                      Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem
                  </p>
                </div>
                <a href="#"> Lorem ipsum </a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>Lorem ipsum</h3>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                      Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem
                  </p>
                </div>
                <a href="#"> Lorem ipsum </a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>Lorem ipsum</h3>
                </div>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                      Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem
                  </p>
                </div>
                <a href="#"> Lorem ipsum </a>
            </div>
             <div class="column">
                <div class="sub-heading">
                  <h3>Lorem ipsum</h3>
                </div>
                <div class="content">
                    <iframe   src="https://www.youtube.com/embed/n1e6kV_kPKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <a href="#"> Lorem ipsum </a>
            </div>

          </div>





    </article>
  </main>
</div>
