<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <div class="col">
        <div class="footer-logo">
          <a href="https://www.datadobi.com" class="icon">
            <img src="{{{uiRootPath}}}/img/dd-rgb-01.png" alt="Datadobi">
          </a>
        </div>
      </div>
      <div class="col">
        <ul>
          <li><a href="https://docs.datadobi.com" target="_blank" rel="noopener">Documentation</a></li>
          <li><a href="https://forums.datadobi.com" target="_blank" rel="noopener">Forums</a></li>
          <li><a href="https://support.datadobi.com" target="_blank" rel="noopener">Support</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="https://developer.datadobi.com" target="_blank" rel="noopener">Developer Portal</a></li>
          <li><a href="https://blog.datadobi.com" target="_blank" rel="noopener">Blog</a></li>
          <li><a href="https://www.datadobi.com/resources">Resources</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="https://www.datadobi.com/get-started-developing-nosql">Get Started</a></li>
          <li><a href="https://www.datadobi.com/downloads">Downloads</a></li>
          <li><a href="https://learn.datadobi.com/store?utf8=%E2%9C%93&ss=1&ct=78327&commit=Filter" target="_blank" rel="noopener">Training</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="social-icons">
          <li>
          <svg  width="14" height="14" viewBox="0 0 32 32"> <path id="linkedin" class="cls-1" d="M29,0H3A3.076,3.076,0,0,0,0,3V29a3.009,3.009,0,0,0,3,3H29a2.946,2.946,0,0,0,3-3V3A3.009,3.009,0,0,0,29,0ZM12,26H8V12h4ZM10,10a2,2,0,1,1,2-2A2.006,2.006,0,0,1,10,10ZM26,26H22V18a2,2,0,0,0-4,0v8H14V12h4v2.5c.8-1.1,2.1-2.5,3.5-2.5A4.736,4.736,0,0,1,26,17Z"/></svg>
              <a href="https://www.linkedin.com/company/datadobi" class="icon">
             Linkedin
            </a>
          </li>
         </ul>
      </div>
    </div>
    <div class="footer-terms">
      <div class="footer-terms-copyright">
          <span>© {{{year}}} Datadobi, StorageMAP, DobiMigrate and the Datadobi logo are registered trademarks of Datadobi.</span>
      </div>
      <div class="footer-terms-links">
        <a href="https://www.datadobi.com/terms-of-use">Terms of Use</a>
        <a href="https://www.datadobi.com/privacy-policy">Privacy Policy</a>
        <a href="https://www.datadobi.com/cookie-policy">Cookie Policy</a>
        <a href="https://www.datadobi.com/support-policy">Support Policy</a>
        <a href="https://info.datadobi.com/unsubscribe-or-manage-preferences.html" target="_blank" rel="noopener">Marketing Preference Center</a>
      </div>
    </div>
  </div>
</footer>
