<main class="article" data-ceiling="topbar">
{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with page.latest}}
{{#if ./missing}}
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<div class="article-banner">
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
</div>
{{/if}}
{{else}}
<div class="article-banner">
{{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
<i class="fas fa-file-alt"></i> <p>You are viewing the documentation for a prerelease version.</p>
{{else}}
<i class="fas fa-file-alt"></i> <p>A newer version of this documentation is available.</p>
{{/if}}
<a class="btn" href="{{relativize ./url}}">View Latest</a>
</div>
{{/if}}
{{/with}}
{{/unless}}
<div class="article-header">
{{> crumbs}}
</div>
{{> article}}
</main>
