<div class="action-panel">
    <div class="action-panel-control">
        <div class="control-wrap">
            <a href="#" class="control-lable">
                <i class="fas fa-redo"></i>
            </a>
            <span class="shell-name control-lable">SDK Shell</span>
        </div>
        <div class="control-wrap">
            <a href="#" class="close-shell control-lable">
                <i class="fas fa-times"></i>
                Close Shell
            </a>
        </div>
    </div>
    <div class="code-shell">

    </div>
</div>