<nav class="nav tutorials-filter">
    <div class="left-sidebar-menu">
        <div class="nav-menu filter">
            <div class="heading">
                <h3>Filter by</h3>
                <a href="#" id="clearALLBtn" data-filter="all">Clear all <img src="_/img/landing-page-icon/clear-icon.svg"
                        alt="" /> </a>
            </div>
            <ul class="nav-list">
                <li class="roles">
                    <a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Roles</a>
                    <ul class="sub-menu ">
                        <li>
                            <input type="checkbox" id="developer" class="check-mark" name="role" value="developer" />
                            <label for="developer">Developer</label>

                        </li>
                        <li>
                            <input type="checkbox" id="mobile" class="check-mark" name="role" value="mobile" />
                            <label for="mobile">Mobile Developer</label>
                        </li>
                        <li>
                            <input type="checkbox" id="devOps" class="check-mark" name="role" value="devOps" />
                            <label for="devOps">DevOps</label>

                        </li>

                        {{!-- <li>
                            <input type="checkbox" id="architect" class="check-mark" name="role" value="architect" />
                            <label for="architect">Architect</label>

                        </li> --}}
                    </ul>
                </li>
                {{!-- <li><a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Products</a></li> --}}
                <li class="languages">
                    <a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Languages</a>
                    <ul class="sub-menu ">
                        <li>
                            <input type="checkbox" id="java" class="check-mark" name="language" value="java" />
                            <label for="java">Java</label>

                        </li>
                        <li>
                            <input type="checkbox" id="node" class="check-mark" name="language" value="nodejs" />
                            <label for="node">Node.js</label>

                        </li>
                        <li>
                            <input type="checkbox" id="C#" class="check-mark" name="language" value="C#" />
                            <label for="C#">C#</label>
                        </li>
                        <li>
                            <input type="checkbox" id="dotnet" class="check-mark" name="language" value="dotnet" />
                            <label for="dotnet">.NET</label>
                        </li>
                        <li>
                            <input type="checkbox" id="android" class="check-mark" name="language" value="android" />
                            <label for="android">Android</label>

                        </li>
                        <li>
                            <input type="checkbox" id="swift" class="check-mark" name="language" value="swift" />
                            <label for="swift">Swift</label>

                        </li>
                    </ul>
                </li>
                {{!-- <li><a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Frameworks</a></li> --}}
                <li class="levels"><a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Levels</a>
                    <ul class="sub-menu ">
                        <li>
                            <input type="checkbox" id="Beginner" class="check-mark" name="level" value="beginner" />
                            <label for="Beginner">Beginner</label>

                        </li>
                        <li>
                            <input type="checkbox" id="Intermediate" class="check-mark" name="level" value="intermediate" />
                            <label for="Intermediate">Intermediate</label>

                        </li>

                        <li>
                            <input type="checkbox" id="Advanced" class="check-mark" name="level" value="advanced" />
                            <label for="Advanced">Advanced</label>

                        </li>
                    </ul>

                </li>

            </ul>
        </div>
        <!-- Collapse expand button -->
      <a href="#" class="menu-expand-toggle"> <span>Navigation</span> <i class="fas fa-times-circle"></i> <i class="fas fa-chevron-circle-left"></i></a>
    </div>
</nav>
