<nav class="nav tutorials-filter">
    <div class="nav-menu filter">
        <div class="heading">
            <h3>Filter by</h3>
            <a href="#" id="clearALLBtn" data-filter="all" >Clear all <img src="_/img/landing-page-icon/clear-icon.svg" alt="" /> </a>
        </div>
        <ul class="nav-list">
            <li><a href="#" class="nav-link" > <span class="arrow-right arrow"></span> Products</a></li>
            <li>
                <a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Languages</a>
                <ul class="sub-menu ">
                        <li>
                            <input type="checkbox" id="java" class="check-mark" name="language" value="java"  />
                            <label for="java">Java</label>

                        </li>
                        <li>
                            <input type="checkbox" id="C#" class="check-mark" name="language" value="C#"  />
                            <label for="C#">C#</label>
                        </li>

                        <li>
                            <input type="checkbox" id="Node" class="check-mark" name="language" value="Node"  />
                            <label for="Node">Node</label>

                            </li>
                    </ul>
            </li>
            <li><a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Frameworks</a></li>
            <li><a href="#" class="nav-link"> <span class="arrow-right arrow"></span> Levels</a>
                <ul class="sub-menu ">
                    <li>
                        <input type="checkbox" id="Beginner" class="check-mark" name="level" value="beginner"  />
                        <label for="Beginner">Beginner</label>

                    </li>
                    <li>
                        <input type="checkbox" id="Intermediate" class="check-mark" name="level" value="intermediate"  />
                        <label for="Intermediate">Intermediate</label>
                      </li>

                    <li>
                        <input type="checkbox" id="Advanced" class="check-mark" name="level" value="advanced"  />
                        <label for="Advanced">Advanced</label>

                        </li>
                </ul>
            </li>

        </ul>
    </div>

</nav>

