.lex-web-ui-iframe {
  bottom: 1.5rem;
  display: none; /* hidden by default changed once iframe is loaded */
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 3vw;
  margin-top: 2px;
  max-width: 27vw;
  height: 80vh; /* dynamically changed on iframe maximize/minimize */
  min-width: calc(30vw - 3vw); /* half viewport width minus margin right */
  position: fixed;
  right: 0;
  z-index: 2147483637; /* max z-index (2147483647) - 10 */
}

.lex-web-ui-iframe iframe {
  border-radius: 8px 8px 10px 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.lex-web-ui-iframe--show {
  display: flex;
}

.lex-web-ui-iframe--minimize {
  max-width: 230px !important;
  max-height: 185px !important;
  border-radius: 85px !important;
  min-width: 230px !important;
}

.lex-web-ui-iframe--maximize {
  max-width: 55vw !important;
  height: 90vh; /* dynamically changed on iframe maximize/minimize */
  min-width: calc(55vw - 3vw) !important;
}

/* disable box shadow when minimized */
.lex-web-ui-iframe.lex-web-ui-iframe--minimize iframe {
  box-shadow: none;
  border-radius: none;
}

/* hide on very small resolutions */
@media only screen and (max-width: 240px), only screen and (max-height: 256px) {
  .lex-web-ui-iframe {
    display: none !important;
  }

  .lex-web-ui-iframe--minimize {
    max-width: 300px !important;
    max-height: 185px !important;
  }
}

/* take most space on small resolutions (smart phones) */
@media only screen and (min-width: 241px) and (max-width: 480px) {
  .lex-web-ui-iframe {
    min-width: 85vw !important;
    height: 84vh;
    margin-right: 2vw;
    align-self: center;
  }

  .lex-web-ui-iframe--maximize {
    max-width: 96vw !important;
    height: 90vh; /* dynamically changed on iframe maximize/minimize */
    min-width: 96vw !important;
  }
}

/* adjust down on medium resolutions */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .lex-web-ui-iframe {
    max-width: 55vw;
    height: 80vh; /* dynamically changed on iframe maximize/minimize */
    min-width: calc(55vw - 3vw); /* half viewport width minus margin right */
  }

  .lex-web-ui-iframe--maximize {
    max-width: 90vw !important;
    height: 90vh; /* dynamically changed on iframe maximize/minimize */
    min-width: 90vw !important;
  }

  .lex-web-ui-iframe.lex-web-ui-iframe--show.lex-web-ui-iframe--minimize {
    max-width: 300px !important;
    max-height: 185px !important;
    border-radius: 85px !important;
    min-width: 230px !important;
  }
}
