.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-nav-mobile);
}

.btn {
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
}

.btn-primary {
  padding: 5px 15px;
  border: 1px solid var(--color-brand-blue-secondary);
  background: var(--color-brand-blue-secondary);
  color: var(--color-brand-white);
}

@media screen and (min-width: 768px) {
  .btn-primary {
    padding: 8px 25px;
  }
}

a[target="_blank"]:after {
  font-family: 'FontAwesome 6 Free', serif;
  font-size: inherit;
  font-weight: 900;
  content: "\00a0\f35d";
  color: inherit;
}
