.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-nav-mobile);
}

.btn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
}

.btn-primary {
  padding: 5px 15px;
  font-weight: 600;
  margin-left: var(--column-space);
  border: 2px solid var(--color-brand-black);
  background: var(--color-brand-black);
  color: var(--color-brand-white);
}

.btn-grey-reverse {
  border: 2px solid var(--color-brand-grey);
  background: var(--color-brand-white);
  color: var(--color-brand-grey);
}

@media screen and (min-width: 768px) {
  .btn-primary {
    padding: 8px 25px;
  }
}
