.component-frame {
  /* rgba(87, 160, 255, 1) */
  background: var(--color-brand-gray6);
  padding: 12px 15px 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-body {
  margin-left: 10px;
  position: relative;
}

.frame-body .title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: var(--weight-semibold);
  color: var(--color-brand-gray1);
}

.frame-body .frame-link {
  position: relative;
}

.frame-body .frame-link::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid var(--color-brand-gray4);
  top: 0;
  position: absolute;
  content: '';
  cursor: pointer;
  right: -15px;
  bottom: 0;
  margin: auto;
}

.frame-body .frame-link-dropdowns:hover .frame-dropdown {
  display: block;
}

.frame-dropdown {
  position: absolute;
  display: none;
  left: 0;
  top: 45px;
  z-index: 1;
  padding: 17px 0 0;
}

.frame-dropdown .frame-dropdown-list,
.frame-dropdown .related {
  margin: 0;
  padding: 0;
  list-style: none;
}

.frame-dropdown ul {
  background: var(--color-brand-white);
  border-radius: 0;
  /* box-shadow: 0 3px 10px -4px var(--color-brand-gray8); */
  margin: 0;
}

.frame-dropdown ul li a,
.frame-dropdown .related li a {
  padding: 8px 0.625rem;
  display: inline-block;
  width: 100%;
}

.frame-dropdown .related {
  border-left: 3px solid var(--color-brand-gray8);
  min-width: 125px;
}

/* .frame-dropdown ul.frame-dropdown-list li,
.frame-dropdown ul.related li {
  border-bottom: 1px solid var(--color-brand-gray8);
} */

ul.frame-dropdown-list li:last-child,
.frame-dropdown ul.related li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.frame-link,
.frame-item,
.navbar-item {
  font-size: var(--font-small);
  color: var(--color-brand-gray4);
  text-decoration: none;
}

.frame-link:hover,
.frame-item:hover,
.frame-link:active,
.frame-item:active,
.frame-link:visited,
.frame-item:visited,
.navbar-item:hover {
  text-decoration: none;
}

.version-control-box {
  position: relative;
  z-index: 9;
}

.frame-dropdown .column {
  display: flex;
  box-shadow: 0 3px 10px 0 #e5e5e5;
}
