.component-frame {
  /* rgba(87, 160, 255, 1) */
  background: var(--color-brand-gray6);
  padding: 12px 30px 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-body {
  margin-left: 10px;
  position: relative;
}

.frame-body .title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: var(--weight-semibold);
  color: var(--color-brand-gray1);
}

.frame-body .frame-link {
  position: relative;
}

.frame-body .frame-link::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid var(--color-brand-gray4);
  top: 0;
  position: absolute;
  content: '';
  cursor: pointer;
  right: -15px;
  bottom: 0;
  margin: auto;
}

.frame-body .frame-link-dropdowns:hover .frame-dropdown {
  display: block;
}

.frame-dropdown {
  position: absolute;
  display: none;
  background: var(--color-brand-white);
  padding: 5px 15px;
  left: -15px;
  top: 60px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 3px 10px -4px var(--color-brand-gray8);
}

.frame-dropdown .frame-dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.frame-dropdown-list li {
  border-bottom: 1px solid var(--color-brand-gray8);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ul.frame-dropdown-list li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.frame-link,
.frame-item {
  font-size: var(--font-small);
  color: var(--color-brand-gray4);
  text-decoration: none;
}

.frame-link:hover,
.frame-item:hover,
.frame-link:active,
.frame-item:active,
.frame-link:visited,
.frame-item:visited {
  text-decoration: none;
}
