.component-frame {
  /* rgba(87, 160, 255, 1) */
  background: var(--color-brand-gray6);
  /* padding: 12px 15px 12px 15px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}

.frame-icon {
  padding: 12px 0 12px 15px;
}

.frame-body {
  margin-left: var(--base-extra-small-space);
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  line-height: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.frame-body .title {
  margin: 0 4px 0 0;
  font-size: var(--font-medium);
  line-height: 1.5rem;
  font-weight: var(--weight-semibold);
  color: var(--color-brand-gray1);
  display: inline-block;
}

.component-frame .frame-link-dropdowns {
  display: inline-block;
  line-height: 1;
}

.frame-body .frame-link {
  position: relative;
}

.frame-dropdown {
  position: absolute;
  display: none;
  left: auto;
  top: 100%;
  z-index: 1;
  padding: 0;
}

.component-frame .frame-dropdown.show,
.component-frame .frame-body:hover .frame-dropdown {
  display: block;
}

.frame-link-dropdowns .frame-link {
  color: var(--color-brand-gray1);
  font-weight: var(--weight-semibold);
}

.frame-link-dropdowns .frame-link svg {
  color: var(--color-brand-black);
}

.frame-dropdown .frame-dropdown-list,
.frame-dropdown .related {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 125px;
}

.frame-dropdown ul {
  background: var(--color-brand-white);
  border-radius: 0;
  /* box-shadow: 0 3px 10px -4px var(--color-brand-gray8); */
  margin: 0;
}

.frame-dropdown ul li a,
.frame-dropdown .related li a {
  padding: 8px 0.625rem;
  display: inline-block;
  width: 100%;
  color: var(--color-brand-primary);
  font-weight: var(--weight-semibold);
  line-height: var(--line-height-base);
}

.frame-dropdown ul li a:hover,
.frame-dropdown .related li a:hover {
  background-color: var(--color-brand-gray7);
}

.frame-link-dropdowns .version {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--font-medium);
}

.frame-dropdown .related {
  border-left: 3px solid var(--color-brand-gray8);
}

/* .frame-dropdown ul.frame-dropdown-list li,
.frame-dropdown ul.related li {
  border-bottom: 1px solid var(--color-brand-gray8);
} */

ul.frame-dropdown-list li:last-child,
.frame-dropdown ul.related li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.frame-link,
.frame-item,
.navbar-item {
  font-size: var(--font-small);
  color: var(--color-brand-gray4);
  text-decoration: none;
}

.frame-link:hover,
.frame-item:hover,
.frame-link:active,
.frame-item:active,
.frame-link:visited,
.frame-item:visited,
.navbar-item:hover {
  text-decoration: none;
}

.version-control-box {
  position: relative;
  z-index: 9;
}

.frame-dropdown .column {
  display: flex;
  box-shadow: 0 3px 10px 0 #e5e5e5;
}
