.doc {
  padding-top: 1.25rem;
}

.doc p {
  margin: 0;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  font-weight: var(--weight-semibold);
  letter-spacing: -0.025rem;
  line-height: var(--line-height-heading);
  margin-bottom: 0;
  margin-left: -2.5rem;
  padding-left: 2.5rem;
}

.doc h1 {
  font-size: var(--heading-h1);
  font-weight: var(--weight-light);
  letter-spacing: 0;
  margin: 2.5rem 0 0;
  margin-left: -2.5rem;
}

.page-heading-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.doc h1.page {
  font-size: var(--heading-h1);
  line-height: 50px;
  margin-top: 0;
  margin-right: var(--base-space);
  display: inline-block;
}

.doc h1.page + .labels {
  display: inline-block;
}

.doc h2 {
  font-size: var(--heading-h2);
  /* max-width: fit-content; */
  width: 100%;
  margin-top: var(--base-extra-large-space);
  /* NOTE used to restrict width of key line */
}

/* .doc h2::after {
  content: "";
  display: block;
  max-width: 5.75rem;
  height: 0;
  outline: 0.5px solid currentColor;
  margin-top: 1.0625rem;
} */

.doc h3 {
  font-size: var(--heading-h3);
  margin-top: var(--base-extra-large-space);
}

.doc h4 {
  font-size: var(--heading-h4);
  margin-top: var(--base-extra-large-space);
}

.doc h5 {
  font-size: var(--heading-h5);
  margin-top: var(--base-extra-large-space);
}

.doc h1 > a.anchor,
.doc h2 > a.anchor,
.doc h3 > a.anchor,
.doc h4 > a.anchor,
.doc h5 > a.anchor,
.doc h6 > a.anchor {
  color: var(--color-brand-blue-secondary);
  position: absolute;
  text-decoration: none;
  width: 3ex;
  margin-left: -2.75ex;
  visibility: hidden;
  text-align: center;
  transform: scale(0.85);
}

.doc h1 > a.anchor {
  transform: scale(0.65);
  margin-left: -2.25ex;
}

.doc h2 > a.anchor {
  transform: scale(0.75);
  margin-left: -2.5ex;
}

.doc h1:hover a.anchor,
.doc h2:hover a.anchor,
.doc h3:hover a.anchor,
.doc h4:hover a.anchor,
.doc h5:hover a.anchor,
.doc h6:hover a.anchor {
  visibility: visible;
}

.doc i.fa {
  font-style: normal;
}

.doc .underline {
  text-decoration: underline;
}

/* .doc code {
  color: var(--color-text);
  font-weight: var(--weight-medium);
} */

.doc pre code {
  display: block;
  color: inherit;
  font-size: inherit;
  word-spacing: inherit;
  background: none;
}

.doc .paragraph {
  margin-top: var(--base-space);
}

.doc .paragraph + .paragraph {
  margin-top: var(--base-medium-space);
}

.doc .admonitionblock {
  margin-top: var(--base-medium-space);
  margin-bottom: var(--base-medium-space);
}

/*
https://issues.couchbase.com/browse/DOC-9811
RAO - Closed up the gap for admonition blocks that
occur inside lists.
 */
.doc li > .admonitionblock {
  margin-top: calc(var(--base-large-space) / 2);
  margin-bottom: calc(var(--base-large-space) / 2);
}

.doc .tableblock .admonitionblock {
  margin-top: calc(var(--base-large-space) / 2);
}

.doc .olist,
.doc .ulist,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .sidebarblock,
.doc .swagger-container,
.doc .verseblock,
.doc .videoblock {
  margin-top: var(--base-medium-space);
}

.doc .paragraph .title,
.doc .olist .title,
.doc .ulist .title,
.doc .exampleblock .title,
.doc .listingblock .title,
.doc .literalblock .title,
.doc .openblock .title,
.doc caption {
  font-size: var(--font-base);
  font-weight: var(--weight-semibold);
  /* letter-spacing: -0.025em; */
  line-height: 1.2;
  margin-bottom: var(--base-space);
  color: var(--color-brand-gray3);
}

.ulist div.title {
  margin-left: -10px;
}

.ulist,
.olist {
  padding-left: var(--base-space);
}

ul ul ul {
  list-style: disc;
}

.doc hr {
  margin: 1rem 0;
  border: 0 solid var(--color-border);
  border-top-width: 1px;
}

.ulist li .paragraph:first-child,
.olist li .paragraph:first-child,
.dlist li .paragraph:first-child {
  margin-top: var(--base-extra-small-space);
}

.ulist li .imageblock,
.olist li .imageblock,
.dlist li .imageblock {
  margin-bottom: var(--base-extra-small-space);
}

/* .doc table.tableblock,
.doc th.tableblock,
.doc td.tableblock {
  border: 0 solid var(--color-border-table);
}

.doc table.tableblock {
  border-width: 1px;
  border-collapse: collapse;
  margin: 1.5rem 0 2rem;
} */

/* TODO drop .spread after upgrading to Asciidoctor 1.5.7 */

.doc table.spread,
.doc table.stretch {
  width: 100%;
}

.doc caption {
  text-align: left;
}

/* .doc table.tableblock > tbody {
  font-weight: var(--weight-light);
} */

/* NOTE prevent wide tables from exceeding bounds */

/* TODO could also target table.tableblock[style^="width:"] */

/* TODO drop .spread after upgrading to Asciidoctor 1.5.7 */

.doc table.spread > tbody > tr > *,
.doc table.stretch > tbody > tr > * {
  /* NOTE setting max-width reactivates overflow-wrap behavior on the table cell */
  max-width: 0;
}

.doc table.layout,
.doc table.layout th.tableblock,
.doc table.layout td.tableblock {
  border: 0;
}

.doc table.layout > tbody > tr:nth-of-type(even) {
  background-color: transparent;
}

.doc .halign-left {
  text-align: left;
}

.doc .halign-right {
  text-align: right;
}

.doc .halign-center {
  text-align: center;
}

.doc .valign-top {
  vertical-align: top;
}

.doc .valign-bottom {
  vertical-align: bottom;
}

.doc .valign-middle {
  vertical-align: middle;
}

.doc .admonitionblock > table,
.doc .admonitionblock > table > tbody,
.doc .admonitionblock > table > tbody > tr > td {
  display: block;
}

.doc .admonitionblock > table > tbody > tr {
  display: flex;
  border: 1px solid var(--color-brand-gray8);
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.doc .admonitionblock td.icon,
.doc .colist .admonitionblock td.icon {
  padding-top: var(--admonition-icon-space);
  padding-left: var(--admonition-icon-space);
  padding-right: var(--admonition-icon-space);
  padding-bottom: 0;
}

.doc .admonitionblock td.icon i::before {
  background: no-repeat 0 / cover;
  content: "";
  display: block;
  height: 1.35rem;
  width: 1.35rem;
}

.doc .admonitionblock td.content,
.doc .colist .admonitionblock td.content {
  font-family: "Open Sans", sans-serif;
  flex: 1;
  font-size: 0.9375rem;
  hyphens: auto;
  line-height: 1.6;
  min-width: 0;
  padding-top: var(--admonition-content-space);
  padding-bottom: var(--base-space);
  padding-left: 0;
  padding-right: var(--base-space);
  border-bottom: 0;
}

.doc .admonitionblock td.content > .title {
  display: inline;
  font-style: italic;
}

.doc .admonitionblock td.content > .title::after {
  content: "";
  display: table;
}

.doc .admonitionblock.caution > table {
  background-color: transparent;
}

.doc .admonitionblock.caution td.icon i::before {
  background-image: url(../img/caution.svg);
}

.doc .admonitionblock.caution td.content::before {
  content: "Caution: ";
}

.doc .admonitionblock.caution tr {
  border-left: 4px solid var(--color-brand-caution);
}

.doc .admonitionblock.important > table {
  background-color: transparent;
}

.doc .admonitionblock.important td.icon i::before {
  background-image: url(../img/important.svg);
}

.doc .admonitionblock.important td.content::before {
  content: "Important: ";
}

.doc .admonitionblock.important tr {
  border-left: 4px solid var(--color-brand-important);
}

.doc .admonitionblock.note > table {
  background-color: transparent;
}

.doc .admonitionblock.note td.icon i::before {
  background-image: url(../img/note.svg);
}

.doc .admonitionblock.note td.content::before {
  content: "Note: ";
}

.doc .admonitionblock.note tr {
  border-left: 4px solid var(--color-brand-note);
}

.doc .admonitionblock.tip > table {
  background-color: transparent;
}

.doc .admonitionblock.tip td.icon i::before {
  background-image: url(../img/tip.svg);
}

.doc .admonitionblock td.content::before {
  color: var(--color-brand-black);
  font-size: var(--font-base);
  font-weight: var(--weight-bold);
}

.doc .admonitionblock.tip td.content::before {
  content: "Tip: ";
}

.doc .admonitionblock.tip tr {
  border-left: 4px solid var(--color-brand-tip);
}

.doc .admonitionblock.warning > table {
  background-color: transparent;
}

.doc .admonitionblock.warning td.icon i::before {
  background-image: url(../img/warning.svg);
}

.doc .admonitionblock.warning td.content::before {
  content: "Warning: ";
}

.doc .admonitionblock.warning tr {
  border-left: 4px solid var(--color-brand-warning);
}

.doc .admonitionblock td.content > :first-child {
  margin-top: 0;
}

.doc .imageblock {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-brand-gray8);
  padding: var(--base-space);
  /* padding-left: var(--base-space); */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  align-items: center;
  max-width: var(--image-block-container);
}

.doc .imageblock.text-left {
  align-items: flex-start;
}

.doc .imageblock.text-right {
  align-items: flex-end;
}

.doc .imageblock img {
  display: inline-block;
}

.doc .imageblock .title {
  font-style: italic;
  margin-top: 0.5rem;
}

.doc .imageblock img,
.doc span.image img {
  height: auto;
  max-width: 100%;
}

.doc span.image.icon {
  line-height: 1;
  vertical-align: -0.2em;
  display: inline-flex;
  padding: 0 0.25ex;
}

.doc span.image.icon img {
  height: 1em;
  width: auto;
}

.doc span.image {
  line-height: 1;
  vertical-align: -0.5em;
  display: inline-flex;
  padding: 0 0.25ex;
}

.doc .quoteblock {
  margin-top: var(--base-extra-large-space);
}

.doc .abstract blockquote {
  margin: 0;
  padding-left: 0.5em;
  border-left: solid 1px var(--color-brand-accent);
}

.doc .quoteblock + .paragraph {
  margin-top: var(--base-extra-large-space);
}

.doc blockquote * {
  font-weight: inherit;
}

/* Use this for a working pseudo element before an [abstract] attribute-marked block in the documentation.
  This one adds the words "Quick Summary" before any text inside the [abstract] block. */

/*
.doc .abstract blockquote::before {
  content: "Quick Summary \a";
  white-space: pre;
  color: var(--color-muted);
  font-weight: var(--weight-medium);
  font-size: var(--heading-h4);
  padding-bottom: 1rem;
}  */

.doc ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

.doc ol {
  margin: 0;
  padding: 0 0 0 1rem;
}

.doc ul.checklist {
  padding-left: 0.5rem;
  list-style: none;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1rem;
  margin-right: 0.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.doc ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.5rem;
}

.doc .olist li + li,
.doc .ulist li + li {
  margin-top: 0.5rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .exampleblock > .content {
  box-shadow: 0 3px 10px #0000000f;
  padding: 20px;
  border: 1px solid var(--color-brand-gray8);
}

.doc .exampleblock > .content > :first-child {
  margin-top: 0;
}

.doc pre {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.hdlist table tr .hdlist1,
.hdlist table tr .hdlist2 {
  padding: var(--base-small-space) var(--base-small-space) var(--base-small-space) 0;
}

.hdlist1,
.hdlist2 {
  vertical-align: top;
}

.doc pre:not(.highlight),
.doc pre.highlight code {
  /* background-color: #151514; */
  color: var(--color-brand-gray1);
  font-weight: var(--weight-normal);
  /* needed to override third-party styles */
  padding-left: var(--base-space);
  padding-right: var(--base-small-space);
  padding-top: var(--base-large-space);
  padding-bottom: var(--base-large-space);
  /* white-space: pre-wrap; */

  /* NOTE enable these styles if side-to-side scrolling is preferred */
  overflow-wrap: normal;
  word-wrap: normal;
  overflow-x: auto;
  background: var(--color-brand-accent-light);
  border: 1px solid var(--color-brand-accent-light);
  border-radius: 0 0 3px 3px;
  position: relative;
}

/* NOTE assume pre.highlight contains code[data-lang] */

/* .doc pre.highlight code::after,
.doc pre:not(.highlight)::after{
  content: '';
  display: inline-block;
  background: transparent linear-gradient(180deg, #F1F7FE0D 0%, #F1F7FE40 18%, #F1F7FE 68%, #F1F7FE 100%) 0% 0% no-repeat padding-box;
  width: 65px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
} */

.doc pre.highlight {
  position: relative;
}

.doc pre pre {
  background: none;
  border: 0;
  padding: 0;
}

/* .doc pre.highlight .hljs-attr {
  color: var(--hljs-attr);
} */

/* .doc pre.highlight .hljs-string {
  color: var(--hljs-string);
} */

/* .doc pre.highlight .hljs-number {
  color: var(--hljs-number);
} */

/* .doc .listingblock code[data-lang]::before {
  content: attr(data-lang);
  color: var("--color-brand-gray1");
  display: none;
  font-size: 0.75rem;
  font-weight: var(--weight-normal);
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 0.375rem;
  right: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  padding-right: 6px;
  border-right: 1px solid var(--color-brand-gray9);
}

.doc .listingblock:hover code[data-lang]::before {
  display: block;
}

*/

table.tableblock code.language-console.hljs.shell,
table.tableblock pre code.language-bash.hljs {
  white-space: normal;
}

.doc .dlist {
  margin: 1.5rem 0 0;
}

.doc .dlist dl {
  margin: 0;
}

.doc .dlist dt,
.doc .hdlist table tr .hdlist1 {
  font-weight: var(--weight-semibold);
}

.doc .dlist dd + dt {
  margin-top: 1.5rem;
}

.doc .dlist dt + dt {
  margin-top: var(--base-extra-small-space);
}

.doc .dlist dd {
  margin-left: 1.5rem;
}

.doc .dlist dt + dd {
  margin-top: var(--base-extra-small-space);
}

/* .doc .dlist dd > .openblock > .content > :first-child {
  margin-top: 0;
} */

.doc .sidebarblock > .content {
  border: 1px solid var(--color-border);
  padding: 2.5rem;
}

.doc .sidebarblock > .content > .title {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.doc .sidebarblock > .content > .title::after {
  content: "";
  display: block;
  max-width: 5.75rem;
  height: 0;
  outline: 1px solid var(--color-brand-orange);
  margin-top: 1.25rem;
}

.doc .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

.doc .conum[data-value] {
  border: 1px solid var(--color-brand-blue-secondary);
  border-radius: 100%;
  display: inline-flex;
  /* font-family: "Roboto", sans-serif; */
  font-size: 0.75rem;
  font-style: normal;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  vertical-align: text-bottom;
  color: var(--color-brand-blue-secondary);
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc pre .conum[data-value] {
  background-color: var(--color-brand-blue-secondary);
  border-color: var(--color-brand-blue-secondary);
  color: var(--color-brand-white);
}

.doc .colist {
  margin-top: 0.5rem;
}

.doc .colist td:first-of-type {
  line-height: 1.4;
  padding: 0 0.5rem;
  vertical-align: top;
}

.doc .colist td:last-of-type {
  padding: 0;
}

.doc b.button {
  white-space: nowrap;
}

.doc b.button::before {
  content: "[";
  padding-right: 0.25em;
}

.doc b.button::after {
  content: "]";
  padding-left: 0.25em;
}

.doc kbd {
  display: inline-block;
  font-size: 0.7rem;
  background-color: #fafafa;
  border: 1px solid var(--color-border);
  border-radius: 0.25em;
  box-shadow: 0 1px 0 var(--color-border), 0 0 0 0.1em #fff inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq i.caret::before {
  content: ">";
  font-weight: var(--weight-medium);
}

.body.tiles .doc {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2.5rem;
}

.body.tiles .doc > h1.page {
  flex-basis: 100%;
  padding-right: 2.5rem;
}

.body.tiles .sect1 {
  flex-basis: 50%;
  padding-right: 2.5rem;
  margin-bottom: 0.5rem;
}

.body.tiles .sect1 > h2 {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
}

.body.tiles .sect1 > h2::after {
  margin-top: 1.25rem;
}

/* Media css  */

@media screen and (max-width: 767px) {
  .doc h1 {
    font-size: var(--heading-h1-sm);
  }

  .doc h1.page {
    font-size: var(--heading-h1-sm);
    margin-bottom: 10px;
    display: block;
    line-height: 46px;
  }

  .doc h2 {
    font-size: var(--heading-h2-sm);
    margin: 1rem 0 1rem -2.5rem;
  }

  .doc h3 {
    font-size: var(--heading-h3-sm);
  }

  .doc h4 {
    font-size: var(--heading-h4-sm);
  }

  .doc h5 {
    font-size: var(--heading-h4-sm);
  }

  .doc .admonitionblock td.content {
    padding-left: 1rem;
  }

  .doc .sidebarblock > .content {
    padding: 1.5rem;
  }

  .doc h1 > a.anchor,
  .doc h2 > a.anchor,
  .doc h3 > a.anchor,
  .doc h4 > a.anchor,
  .doc h5 > a.anchor,
  .doc h6 > a.anchor {
    font-size: 18px;
  }

  .card-row .column .content .imageblock {
    text-align: center;
  }

  main {
    padding-bottom: 2rem;
  }
}
