.info-banner {
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  background-image: linear-gradient(to right, #00ace0, #636cdc);
  padding: 0.75em;
  margin-top: 0;
  margin-bottom: 1em;
}

.doc.landing-page-doc .info-banner p {
  text-align: center;
  color: white;
  font-weight: lighter;
}

.info-banner a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  border: solid 1px white;
  padding: 0.5em 1em;
}
