.doc .labels ul,
.doc .labels p {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.125rem 0 0;
}

.doc .labels li,
.doc .labels span {
  display: block;
  font-size: var(--labels-font-size);
  font-weight: var(--weight-bold);
  line-height: var(--labels-line-height);
  position: relative;
}

.doc .edition,
.doc .status,
.doc .edition.page-edition {
  max-width: fit-content;
  font-size: var(--labels-font-size);
  font-weight: var(--weight-bold);
  line-height: var(--labels-line-height);
  font-family: "Source Sans Pro", sans-serif;
}

.doc .labels li:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 0.5rem);
  border: 0.5rem solid transparent;
  top: -1rem;
}

/* .doc .labels li:first-child::before,
.doc .labels span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 0.5rem);
  border: 0.5rem solid transparent;
  top: -1rem;
} */

.doc .labels li,
.doc .edition,
.doc .status,
.doc .edition.page-edition {
  /* color: #fff; */
  display: inline-block;
  padding: 6px;
  text-transform: uppercase;
  margin-right: var(--base-small-space);
  font-family: "Source Sans Pro", sans-serif;
}

.doc .labels li a,
.doc .edition a,
.doc .status a,
.doc .edition.page-edition a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.doc .edition *,
.doc .status * {
  color: inherit;
}

/* .doc .labels li.edition {
  background-color: var(--color-brand-light-blue);
} */

.doc .edition {
  color: var(--color-brand-blue-secondary);
  border: 1px solid var(--color-brand-blue-secondary);
  border-radius: 3px;
  opacity: 0.6;
}

.doc .status {
  color: var(--color-brand-caution);
  border: 1px solid var(--color-brand-caution);
  border-radius: 3px;
  opacity: 0.6;
}

.doc .edition.page-edition {
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  opacity: 0.6;
}

.doc .edition a {
  color: var(--color-brand-blue-secondary);
}

.doc .status a {
  color: var(--color-brand-caution);
}

.doc .edition.page-edition a {
  color: #999;
}

.doc .edition:hover,
.doc .status:hover,
.doc .edition.page-edition:hover {
  opacity: 1;
}

/* .doc .labels span:first-child,
.doc .labels li:first-child {
  opacity: 1;
} */

/* .doc .labels span.edition::before{
  color: var(--color-brand-blue-secondary);
  border:1px solid var(--color-brand-blue-secondary);
} */

/* .doc .labels li.edition::before {
  border-bottom-color: var(--color-brand-light-blue);
} */

/* .doc .labels li.status {
  background-color: var(--color-brand-orange);
} */

/* .doc .labels li.status:first-child::before,
.doc .labels span.status:first-child::before {
  border-bottom-color: var(--color-brand-orange);
} */
