/* Landing Page CSS  */

.doc.landing-page-doc h1 {
  color: var(--color-brand-gray1);
  font-size: 2.5rem;
  font-weight: var(--weight-semibold);
  margin-bottom: 15px;
}

.doc.landing-page-doc h1.sect0 {
  margin-top: 0;
  margin-bottom: 0;
}

.doc.landing-page-doc .text-color-brand-blue {
  color: var(--color-brand-blue);
}

.doc.landing-page-doc p {
  font-size: 1rem;
  color: var(--color-brand-black);
  font-family: "Open Sans", sans-serif;
}

.card-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 0;
}

.doc.landing-page-doc .heading {
  margin-bottom: 16px;
  width: 100%;
}

.doc.landing-page-doc .sub-heading {
  margin-bottom: 8px;
  width: 100%;
}

.doc.landing-page-doc .sub-heading.two-column-heading {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  display: block;
}

.doc.landing-page-doc .filter-info h5 {
  display: inline-block;
  margin-right: 16px;
  margin-top: 0;
  font-weight: var(--weight-normal);
  font-family: "Open Sans", sans-serif;
  color: var(--color-brand-black);
}

.doc.landing-page-doc .filter-info h5 .fas,
.doc.landing-page-doc .filter-info h5 img {
  margin-right: 8px;
}

.doc.landing-page-doc .filter-info {
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.doc.landing-page-doc .filter-info span {
  color: var(--color-brand-light-blue);
  border-radius: 8px;
  border: 1px solid var(--color-brand-light-blue);
  padding: 6px 10px;
}

.card-row .column {
  max-width: 50%;
  flex-basis: 50%;
  margin-bottom: 25px;
}

.card-row.three-column-row .column {
  flex-basis: 33%;
  padding-right: var(--column-space);
  padding-left: var(--column-space);
}

.card-row.three-column-row .column:first-child,
.card-row.three-column-row .column:nth-child(3n+1) {
  padding-left: 0;
}

.card-row.three-column-row .column:last-child,
.card-row.three-column-row .column:nth-child(3n) {
  padding-right: 0;
}

.card-row .three-column-row + .column {
  padding-left: 5%;
}

.card-row.border-column-row .column + .column {
  border-left: 1px solid var(--color-brand-gray5);
}

.doc.landing-page-doc h3,
.landing-page-doc .column .title {
  font-size: 1.5rem;
  line-height: 130%;
  color: var(--color-brand-black);
  margin: 0 0 8px;
  letter-spacing: -0.025rem;
}

.doc.landing-page-doc .text-color-brand-blue-secondary {
  color: var(--color-brand-blue-secondary);
}

.doc.landing-page-doc .other-info-list {
  display: flex;
  flex-wrap: wrap;
}

.doc.landing-page-doc .other-info-list .box.ulist,
.doc.landing-page-doc .other-info-list .box.olist {
  padding-left: 0;
}

.doc.landing-page-doc .other-info-list .box {
  padding-right: 40px;
}

.doc.landing-page-doc .other-info-list .box:last-child {
  padding-right: 0;
}

.doc.landing-page-doc .box h5,
.doc.landing-page-doc .box .title {
  margin: 0 0 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: var(--weight-semibold);
  color: var(--color-brand-black);
}

.doc.landing-page-doc figure {
  margin-bottom: 0;
}

.doc.landing-page-doc .media-left {
  padding-left: 40px;
  margin-top: 0;
  border: 0;
  box-shadow: none;
}

.doc.landing-page-doc .videoblock.media-left {
  width: auto;
}

.media-left .icon {
  font-size: 90px;
  color: var(--color-brand-blue-secondary);
}

.doc.landing-page-doc .column .paragraph,
.doc.landing-page-doc .column .videoblock,
.doc.landing-page-doc .column .imageblock {
  margin-top: 0;
}

.doc.landing-page-doc img {
  max-width: 100%;
}

.doc.landing-page-doc ul {
  padding: 0;
  /* margin-top: 30px; */
}

.doc.landing-page-doc ul li {
  list-style: none;
  margin: 0 0 8px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: var(--color-brand-black);
}

.doc.landing-page-doc ul li a {
  text-decoration: none;
  color: var(--color-brand-blue);
}

.doc.landing-page-doc .media-box {
  text-align: center;
  border: 1px solid var(--color-brand-gray6);
  border-radius: 5px;
  padding: 20px;
}

.doc.landing-page-doc .media-box .media-heading {
  margin-bottom: 15px;
}

.doc.landing-page-doc h2 {
  margin: 0;
  color: var(--color-brand-black);
}

.doc.landing-page-doc h2::after {
  content: none;
}

.card-row .column .content {
  margin-bottom: 16px;
  display: inline-block;
  width: 100%;
}

.card-row .column .content p {
  text-align: justify;
}

.card-row.two-column-row .column:not(.data-filter-column):nth-child(odd) {
  padding-right: 40px;
}

.card-row.two-column-row .column:not(.data-filter-column):nth-child(even) {
  padding-left: 40px;
}

.card-row.two-column-row .column.data-filter-column.even {
  padding-left: 40px;
}

.card-row.two-column-row .column.data-filter-column.odd {
  padding-right: 40px;
}

.card-row.two-column-row .column.data-filter-column.hide {
  display: none;
}

/* .card-row.two-column-row .column:nth-child(even) {
  padding-left: 5%;
} */

.doc.landing-page-doc iframe {
  width: 100%;
  height: 315px;
  margin-top: 8px;
  box-shadow: 0 0 15px -5px #ccc;
}

/* CSS for nav filter */
.nav.tutorials-filter .nav-menu {
  padding: 20px;
  background: var(--color-brand-gray7);
}

.nav.tutorials-filter .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav.tutorials-filter .heading h3 {
  margin: 0;
}

.nav.tutorials-filter .heading a {
  text-decoration: none;
}

.nav.tutorials-filter .heading img {
  margin-left: 8px;
}

.nav.tutorials-filter ul.nav-list {
  padding-left: 30px;
}

.nav.tutorials-filter ul li {
  margin-bottom: 16px;
}

.nav.tutorials-filter ul li a {
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-brand-black);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav.tutorials-filter ul li a:hover {
  color: var(--color-brand-blue);
}

.nav.tutorials-filter ul li a.active .arrow.arrow-right {
  transform: rotate(90deg);
}

.nav.tutorials-filter .arrow {
  display: inline-block;
  margin-right: 16px;
}

.nav.tutorials-filter .arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--color-brand-gray5);
}

.nav.tutorials-filter .arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--color-brand-gray5);
}

.nav.tutorials-filter .sub-menu {
  margin-top: 20px;
  padding-left: 28px;
  display: none;
}

.nav.tutorials-filter .sub-menu li {
  list-style: none;
}

/* Responsive CSS  */

@media screen and (max-width: 1169px) {
  .card-row.three-column-row .column {
    flex-basis: 33%;
  }

  .nav.tutorials-filter {
    width: 16rem;
  }

  .doc.landing-page-doc .sub-heading.two-column-heading .filter-info {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .card-row .column,
  .card-row.three-column-row .column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .card-row .column {
    margin-bottom: 15px;
  }

  .card-row {
    margin-bottom: 0;
  }

  .doc.landing-page-doc .media-left {
    margin-left: 0;
  }

  .doc.landing-page-doc figure {
    text-align: center;
  }

  .card-row .column + .column {
    padding-left: 0;
  }

  .card-row.border-column-row .column + .column {
    border-left: 0;
  }

  .card-row.two-column-row .column.data-filter-column.even,
  .card-row.two-column-row .column.data-filter-column.odd {
    padding-left: 0;
    padding-right: 0;
  }

  .card-row.two-column-row .column:nth-child(odd),
  .card-row.two-column-row .column:nth-child(even),
  .card-row.two-column-row .column:not(.data-filter-column):nth-child(even),
  .card-row.two-column-row .column:not(.data-filter-column):nth-child(odd) {
    padding-left: 0;
    padding-right: 0;
  }
}
