.left-sidebar {
  width: 20rem;
}

.nav-container {
  position: fixed;
  z-index: var(--z-index-nav);
  width: 320px;
  background: #f9f9f9;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}

.components {
  height: calc(100vh - 7.1rem);
  overflow-y: auto;
  scrollbar-width: thin;
}

.components::-webkit-scrollbar {
  width: 0.25rem;
}

.components::-moz-scrollbar {
  scrollbar-width: thin;
}

.components::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
}

.components_group-title {
  padding: 9px 20px 9px 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.188rem;
  background: #eef2f7 url(../img/server-icon.png) no-repeat 17px center /25px;
}

.components_group-title a {
  color: inherit;
  text-decoration: none;
}

.components_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.components_list-items {
  border-bottom: 1px solid #fff;
}

.component_list-version {
  background: #eaebf1;
  padding: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version_list {
  margin: -1em 0 -1em 0.5em;
  max-width: min-content;
  appearance: none;
  font-size: 0.9em;
  line-height: 2;
  padding: 0 1.5em 0 0.5em;
  border: 1px solid #e5e5e5;
  border-radius: 0.25em;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M207.029%20381.476L12.686%20187.132c-9.373-9.373-9.373-24.569%200-33.941l22.667-22.667c9.357-9.357%2024.522-9.375%2033.901-.04L224%20284.505l154.745-154.021c9.379-9.335%2024.544-9.317%2033.901.04l22.667%2022.667c9.373%209.373%209.373%2024.569%200%2033.941L240.971%20381.476c-9.373%209.372-24.569%209.372-33.942%200z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 0.5em top 55% / 0.75em auto, #fff repeat;
  background-color: #fff;
}

.component_list_title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.menu_row {
  padding: 0.5rem 0 0.5rem 1.5rem;
  margin: 0;
  list-style: none;
}

.menu_list {
  padding: 0.5rem 0;
}

.menu_list:last-child {
  padding-bottom: 0;
}

.menu_line {
  display: block;
}

.menu_list > .menu_line {
  font-size: 1rem;
  line-height: 1.375rem;
  padding-right: 1rem;
  font-weight: 400;
  position: relative;
}

.menu_list[data-depth="0"] > .menu_line {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: var(--weight-semibold);
  color: var(--brand-color-gray1);
}

.menu_list.is-current-page > .menu_line {
  /* background: #4287d60f; */
  border-right: 4px solid rgba(66, 135, 214, 0.44);
  font-weight: var(--weight-semibold);
}

.menu_title {
  width: 100%;
  color: #292b36;
  display: inline-block;
  word-break: break-word;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  /* padding: 0.25rem 0; */
}

a.menu_link {
  text-decoration: none;
}

a.menu_link.is-current-page {
  color: var(--color-link);
}

.nav .nav-container,
.tutorials-filter .left-sidebar-menu {
  background-color: var(--color-brand-gray7);
  position: fixed;
  font-size: 1rem;
  line-height: 24px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
  height: 100%;
  transition: transform 0.1s;
}

.tutorials-filter .left-sidebar-menu {
  width: inherit;
}

.tutorials-filter .nav-menu {
  overflow-y: auto;
  height: var(--height-nav);
}

.tutorials-filter .nav-menu .nav-link,
.tutorials-filter .nav-menu .nav-text {
  word-break: break-word;
  margin-left: 1.25rem;
}

.tutorials-filter .nav-menu a.nav-link:focus,
.tutorials-filter .nav-menu a.nav-link:hover {
  color: var(--color-link);
}

.tutorials-filter .nav-menu .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tutorials-filter .nav-menu > .nav-list {
  margin: 1.5rem 0;
}

.nav a.menu-expand-toggle {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: -1rem;
  z-index: var(--z-index-toggle);
  font-size: 24px;
  color: var(--color-brand-blue-secondary);
  background-color: var(--color-brand-gray7);
  border-radius: 50%;
}

.nav a.menu-expand-toggle span,
.nav a.menu-expand-toggle .fa-times-circle,
.nav a.collapse-menu span {
  display: none;
}

@media screen and (min-width: 993px) {
  .nav.collapse-menu {
    width: 0;
  }

  .nav.collapse-menu .nav-container {
    transform: translateX(-100%);
  }

  .nav.collapse-menu .nav-menu {
    font-size: 0;
    display: none;
  }

  .nav.collapse-menu .left-sidebar-menu {
    border: 0;
    background-color: transparent;
  }

  .nav.collapse-menu a.menu-expand-toggle {
    transform: rotate(180deg);
    right: -1.35rem;
    opacity: 1;
    color: var(--color-brand-blue-secondary);
  }

  .nav a.menu-expand-toggle {
    opacity: 0;
  }

  .nav:hover a.menu-expand-toggle {
    opacity: 1;
  }

  .tutorials-filter .left-sidebar-menu {
    top: var(--height-to-body);
    margin-bottom: 1.5rem;
    height: 100%;
    z-index: var(--z-index-nav);
  }

  .tutorials-filter .left-sidebar-menu::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1000%;
    height: 100%;
    background: var(--color-brand-gray7);
    top: 0;
    left: -1000%;
  }
}

@media screen and (max-width: 992px) {
  .nav .nav-container,
  .tutorials-filter .left-sidebar-menu {
    position: fixed;
    left: 0;
    top: auto;
    transform: translate(-100%, 0);
    z-index: var(--z-index-nav-mobile);
  }

  .nav.collapse-menu a.menu-expand-toggle {
    right: -0.8rem;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
    top: -3px;
  }

  .nav.collapse-menu .nav-container,
  .nav.collapse-menu .left-sidebar-menu {
    transform: translate(0, 0);
  }

  .tutorials-filter .nav-menu {
    height: calc(100vh - 8.5rem) !important;
  }

  .nav a.menu-expand-toggle {
    transform: rotate(90deg);
    right: -4.3rem;
    opacity: 1;
    color: #fff;
    background-color: var(--color-brand-blue-secondary);
    border-radius: 0;
    top: 60px;
    font-size: 18px;
    padding: 2px 8px;
    text-decoration: none;
  }

  .nav a.menu-expand-toggle .fa-chevron-circle-left {
    display: none;
  }

  .nav a.menu-expand-toggle span {
    display: inline-block;
  }

  .nav.collapse-menu a.menu-expand-toggle .fa-times-circle {
    display: inline-block;
    font-size: 26px;
    color: #ea2328;
  }

  .nav.collapse-menu a.menu-expand-toggle span {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav a.menu-expand-toggle {
    right: -3.4rem;
    top: 60px;
    font-size: 14px;
    padding: 2px 5px;
  }
}

.in-toggle {
  cursor: pointer;
}

.menu_list[data-depth="1"] .in-toggle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #c8cbdf;
  display: block;
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu_list.is-parent.closed > .menu_row {
  display: none;
}

.menu_list.is-parent:not(.closed) > .menu_line > .in-toggle {
  transform: rotate(90deg);
}
