/* =============================================================================
   Responsive Table CSS
   ========================================================================== */

table.tableblock,
table.tableblock thead,
table.tableblock tbody,
table.tableblock tfoot,
table.tableblock td,
table.tableblock th {
  font-family: "Source Sans Pro", sans-serif;
}

table.tableblock {
  display: block;
  width: 100%;
  border-spacing: 0;
}

table.tableblock thead,
table.tableblock tbody,
table.tableblock thead tr,
table.tableblock th {
  display: block;
}

table.tableblock thead {
  float: left;
}

table.tableblock tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}

table.tableblock thead th {
  padding-left: var(--base-small-space);
  padding-top: var(--base-space);
  padding-bottom: var(--base-space);
  text-align: left;
  border-bottom: 2px solid var(--color-brand-accent);
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: var(--weight-semibold);
}

/* table.tableblock tbody td:first-child strong {
  font-size: 1.125rem;
} */

table.tableblock tbody tr {
  display: table-cell;
}

/* .tableblock tbody tr :hover{
    background: var(--color-brand-gray7);
  } */

table.tableblock > tbody td,
table.tableblock > tbody th {
  display: block;
  border-bottom: 1px solid var(--color-brand-gray8);
  padding-left: var(--base-small-space);
  /* padding-top: var(--base-space); */
  padding-bottom: var(--base-space);
}

/* Activate the grid=none option for Asciidoc */
table.tableblock.grid-none > tbody td,
table.tableblock.grid-none > tbody th {
  border-bottom: 0;
  padding-left: var(--base-small-space);
  padding-bottom: var(--base-space);
}

table.tableblock tbody td p {
  font-size: var(--font-base);
  line-height: var(--line-height-base);
  color: var(--color-brand-gray1);
  font-weight: var(--weight-medium);
}

table.tableblock tbody td.tableblock p.tableblock {
  margin-top: 1rem;
}

/* table.tableblock .content .paragraph,
table.tableblock .content .ulist {
  margin-top: 0;
} */

/* table.tableblock tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.07);g29

  }
   */

/* table.tableblock tbody tr:hover {
    background: var(--color-brand-gray7);
} */

table.tableblock .title {
  display: inline-block;
  width: 100%;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.doc .admonitionblock td.icon {
  border-bottom: none;
}

/* table.table-merge-cells tr:hover {
  background-color: var(--color-brand-gray7);
}
*/

table.table-tutorial tr th:last-child,
table.table-tutorial tr td:last-child {
  background-color: var(--color-brand-gray7);
}

.tableblock thead a,
.tableblock tbody a,
.tableblock p {
  font-family: inherit;
}

/* OpenAPI style tables (to avoid keywords being unpleasantly wrapped/hyphenated) */

/* No maximum width for table cells */
.openapi table.spread > tbody > tr > *,
.openapi table.stretch > tbody > tr > * {
  max-width: none !important;
}

/* Ignore fixed column widths */
.openapi table col {
  width: auto !important;
}

/* Do not hyphenate words in the table */
.openapi table td.tableblock p,
.openapi table p.tableblock {
  hyphens: manual !important;
}

/* Vertical alignment */
.openapi table td.tableblock {
  vertical-align: top !important;
}

/* Responsive css  */

@media screen and (min-width: 768px) {
  table.tableblock {
    display: table;
    position: relative;
  }

  table.tableblock caption.title {
    position: absolute;
    left: 0;
    top: -30px;
  }

  table.tableblock.caption-table,
  div.ulist + table.tableblock,
  table.tableblock + table.tableblock {
    margin-top: 2.5rem;
  }

  table.tableblock thead {
    display: table-header-group;
    float: none;
  }

  table.tableblock tbody {
    display: table-row-group;
  }

  table.tableblock thead tr,
  table.tableblock tbody tr {
    display: table-row;
  }

  table.table-merge-cells tbody tr:nth-child(even) {
    background-color: var(--color-brand-gray7);
  }

  table.tableblock th,
  table.tableblock tbody td,
  table.tableblock > tbody th {
    display: table-cell;
    min-width: 5rem;
  }

  table.tableblock td,
  table.tableblock th {
    width: auto;
  }

  table.table-merge-cells tr td:first-child,
  table.table-tutorial tr td:first-child {
    border-left: 0;
  }

  table.table-merge-cells tr td,
  table.table-tutorial tr td {
    border-left: 1px solid var(--color-brand-gray8);
  }
}

@media screen and (max-width: 767px), print {
  table.tableblock td,
  table.tableblock th {
    line-height: 1.5em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-brand-gray1);
  }

  table.tableblock td {
    min-width: 14.5rem;
    word-break: break-word;
    border-right: 1px solid var(--color-brand-gray6);
  }

  .admonitionblock table tbody {
    overflow-x: visible;
  }

  .doc .admonitionblock > table > tbody > tr {
    display: inline-block;
    width: 100%;
  }

  table.tableblock thead {
    box-shadow: 2px 2px 4px 1px var(--color-brand-gray7);
    max-width: 120px;
  }
}
