.action-panel {
    display: none;
    position: fixed;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: #F1F7FE;
    top: 4.1rem
}

.code-shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.75rem;
}

html.terminal-launched .action-panel {
 transform: translateX(-100%);
 display: block;
}

/* html.terminal-launched .left-sidebar, */
html.terminal-launched .toc.sidebar, 
html.terminal-launched footer {
    display: none;
}

html.terminal-launched {
    overflow: hidden;
}

.action-panel-control {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #E5E5E5;
}

.control-wrap {
    display: flex;
}

.control-lable {
    padding: 4px 10px;
    border-left: 1px solid #E5E5E5;
    font-size: 14px;
    line-height: 20px;
    color: #73768A;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.close-shell svg {
    margin-right: 10px;
}

.control-lable:hover {
    text-decoration: none;
}

@media all and (min-width: 768px){
    .action-panel {
        top: var(--height-to-body);
    }

    html.terminal-launched .action-panel {
        width: 50vw;
    }

    html.terminal-launched main.article {
        width: 50vw;
        position: fixed;
        visibility: visible;
        overflow-x: hidden;
        overflow-y: scroll;
        left: 0;
        bottom: 0;
        display: block;
        top: var(--height-to-body);
        padding-right: var(--width-main-gutter);
        padding-left: var(--width-main-gutter);
    }
}

@media all and (min-width: 769px){

    html.terminal-launched .nav a.menu-expand-toggle span {
        display: inline-block;
    }
    
    html.terminal-launched .nav a.menu-expand-toggle .fa-chevron-circle-left {
        display: none;
    }

    html.terminal-launched .nav a.menu-expand-toggle {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        right: -4.3rem;
        opacity: 1;
        color: #fff;
        background-color: #0074e0;
        background-color: var(--color-brand-blue-secondary);
        border-radius: 0;
        top: 60px;
        font-size: 18px;
        padding: 2px 8px;
        text-decoration: none;
    }

    html.terminal-launched .nav .nav-container {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    html.terminal-launched .nav.collapse-menu .nav-container {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}