/* .sidebar-box .tools {
  margin-left: 0.75rem;
} */
.tools ul {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tools .edit {
  line-height: 1;
  display: inline-block;
  width: 100%;
  list-style: none;
}

.tools .edit a {
  display: inline-block;
  /* width: 100%;
  height: 100%;
  text-indent: 100%; */
  white-space: nowrap;
  overflow: hidden;
  background: url(../img/edit.svg) no-repeat center left;
  background-size: 15px;
  vertical-align: top;
  color: #999;
  padding-left: 25px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.sidebar-box .tools {
  padding-top: 1.25rem;
  display: inline-block;
  width: 100%;
}
