<!DOCTYPE html>
<html lang="en">
<head>
{{> head-first}}

<title>{{{detag (or page.title 'landing page')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
{{> head-last}}
<style>
#redoc { width: 100%} 
</style>
<meta name='viewport' content='width=device-width, initial-scale=1' />
</head>
<body class="rest-api">
{{> header}}

<div class="body container">


{{{page.contents}}}

{{> toc-only-feedback}}

</div>


{{> footer}}
</body>
</html>
